:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #828282;
}

body {
  margin: 0;
  min-height: 100vh;

}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #000000;
  text-align: center;
}
header{
     height: 300px;
     background-color: #242424;
     width: 100%;
     padding: 5px;
}
nav{
  width: 100%;
  padding: 5px;
}
nav div{
  float: right;
}
nav div a{
  display: inline-block;
  margin-right: 10px;
}
header h2{
  margin-top: 70px;
}
.info{
  text-align: center;
}
button{
  padding: 8px;
  background-color:#ee8274;
}
.project{
  position: relative;
 
}
.project div{
  position: absolute;
 
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}