:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #828282;
}

body {
  margin: 0;

}
.main{
  min-height: 50vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
  color: #000000;
  text-align: center;
}
h3 {
  font-size: 1em;
  line-height: 1;
  color: #000000;
  text-align: center;
}
header{
    
     background-color: #242424;
     width: 100%;
     padding: 5px;
}
nav{
  width: 100%;
  padding: 5px;
}
nav div{
  float: right;
}
nav div a{
  display: inline-block;
  margin-right: 10px;
}
header h2{
  margin-top: 70px;
}
.info{
  text-align: center;
}
button{
  padding: 8px;
  background-color:#ff0061;
}
.project{
  position: relative;
  margin: 20px auto;
  margin-top: 50px;
  width: 60%;
}

.project img{
  width: 100%;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}
.project div{
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translateX(-50%);
  background: linear-gradient(rgba(100, 18, 36, 0.8), rgba(255, 11, 64, 0.5)) ;
  padding: 5px;
}

.page div{
  background-color: #ededed;
  margin-top: 50px;
  color: black;
  padding: 30px;
}
.social{
  display: flex;
}
.social a{
  color: blue;
  text-decoration: underline;
}
.active{
  text-decoration: underline;
}
footer{
  color: black;
  margin-top: 70px;
  text-align: center;
}